<%- include('includes/head.ejs', { title: 'Post' }) %>
<link rel="stylesheet" href="/styles/post.css">
 
</head>

<body>
  <%- include('includes/header.ejs') %>
  <section>
    <div class="post-card">
    <h1><%= post.title %></h1>
    <p class="post-text"><%= post.text %></p>
    <p class="post-author">By <span class="author-name"><%= post.username %></span></p>
    <% if(String(post.userId) === String(locals.id)) {%>
      
      <a class="btn edit" href="/posts/<%= post._id %>/edit">Edit</a>
      <form action="/posts/<%= post._id %>/delete" method="POST">
      <button class="btn delete">Delete Post</button>
    </form>
      <% } %>
    </div>
  </section>
  <%- include('includes/footer.ejs') %>
</body>


</html>