<%- include('includes/head.ejs', { title: 'Blogger | Update Post' }) %>
</head>

<body>
  <%- include('includes/header.ejs') %>
  <section id="form">
    <h1 class="heading">Edit Post</h1>
    <form action="/posts/<%= post._id %>/edit" method="POST">
      <div class="form-control">
        <label for="title">Title</label>
        <input type="text" id="title" name="title" maxlength="40" value="<%= post.title %>" required>
      </div>
      <div class="form-control">
        <label for="post">Share your thoughts</label>
        <textarea name="post" id="post" cols="30" rows="10"><%= post.text %></textarea>
      </div>
      <button class="btn">Post it!</button>
    </form>
  </section>
  
</body>

<%- include('includes/footer.ejs') %>
</html>